* {
    font-family: sans-serif;
}

body {
    padding: 1.75% 4%;
    background-color: lavenderblush;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1%;
}

header {
    grid-column: 1/-1;
    font-size: 32px;
    font-weight: 575;
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}

fieldset {
    border-color: #b57281;
    transition: .2s;
}

fieldset:hover {
    scale: 1.015;
    box-shadow: #e1d5d9 3px 3px 3px;
}

.highlighted {
    font-weight: 600;
}

.error {
    color: #ca1515;
}

.x-input {
    grid-column: 1;
    grid-row:2;
    align-content: center;
    width: fit-content;
}

#x-error {
    margin-top: 10px;
    font-size: 23px;
}
.y-input {
    grid-column: 1;
    grid-row:3;
    align-content: center;
    width: fit-content;
}
#y-error {
    margin-left: 10px;
}
.r-input {
    grid-column: 1;
    grid-row:4;
    align-content: center;
    width: fit-content;
}

.x-button {
    width: 30px;
    height: 30px;
    background-color: #FFCADC;
    border: rgba(223, 0, 76, 0.62) solid 1px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;

}

.clicked {
    background-color:#eae6e6;
}

.x-button:hover{
    background-color: rgba(241, 177, 186, 0.89);
}

#r-error {
    margin-top: 10px;
}

#graph-div {
    grid-column: 2;
    grid-row: 2/5;
    align-content: end;
    text-align: center;
}
#graph:hover{
    box-shadow: #e1d5d9 3px 3px 3px;
}

#submit-button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    background-color: #FFCADC;
    border: rgba(223, 0, 76, 0.62) solid 1px;
    height: 50px;
    margin-top: 20px;
    transition: .25s;
}
#on-main-button {
    font-size: 20px;
    background-color: #FFCADC;
    border: rgba(223, 0, 76, 0.62) solid 1px;
    height: 50px;
    margin-top: 20px;
    transition: .25s;
    width: 100%;

}


#submit-button:hover {
    background-color: rgba(241, 177, 186, 0.89);
}
#on-main-button:hover {
    background-color: rgba(241, 177, 186, 0.89);
}

#result-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 3%;
}

.axis {
    stroke-width: 2px;
    stroke: black;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    width: 100%;
}

.td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
}

.th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
}

.tr {
    background-color: #eae6e6;
}

.hit-true {
    color: green;
}

.hit-false {
    color: red;
}

#clock{
    margin-top: 40px;
}
.submitButton{
    font-size: 20px;
    background-color: #FFCADC;
    border: rgba(223, 0, 76, 0.62) solid 1px;
    height: 50px;
    margin-top: 20px;
    transition: .25s;}
.submitButton:hover {
    background-color: rgba(241, 177, 186, 0.89);
}